p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}
    th{
        background-color: goldenrod;
        color: #fafafa;
        width: 100px;
        padding: 5px;
    }

    td{
        background-color: #fafafa;
        color: #111;
        border: 1px solid silver;
        padding: 5px;
    }

    img{
        width: 50%;
        height: auto;
    }