<div class="filtersContainer">
    <label for="">Nom: </label>
    <input [(ngModel)]="gameName" />
    <br/>

    <label for="">Prix (min): </label>
    <input [(ngModel)]="priceMin" />
    <br/>

    <label for="">Prix (max): </label>
    <input [(ngModel)]="priceMax" />
    <br/>

    <label for="">Platform: </label>
    <select name="" id="" (change)="onPlatformChange($event)">
        <option *ngFor="let currentPlatform of platforms" value={{currentPlatform}}>
            {{currentPlatform}}
        </option>
    </select>
</div>
<app-catalog [products]="products | CatalogFilter:getFilters()"></app-catalog>