<div>
    <h1>LOGIN</h1>
    <form [formGroup]="loginForm" (submit)="loginHandler()" class="">

        <label class="" for="nickname" for="email">Email:</label>
        <input class="" id="email" type="text" formControlName="email" />
        <br />

        <label class="" for="pwd">Password:</label>
        <input class="" id="pwd" type="password" formControlName="pwd">
        <br />



        <button type="submit" class="">Connexion</button>

        <p class=""><a class="link" [routerLink]="['/']">Back to home</a></p>
    </form>
</div>